@model BlogHsynGcm.Models.Settings 

<a class="navbar-brand rs_center " href="/">
    @if (Model != null)
    {
        <img class="logo_dark" src="~/Content/UploadImage/@Model.Logo" width="@Model.LogoWidth" height="@Model.LogoHeight" alt="logo" />
    }
</a>
