@model IEnumerable<BlogHsynGcm.Models.Categories>

<ul>
    @foreach (var cat in Model)
    {
        <li><a class="dropdown-item nav-link nav_item" href="/Home/Category/@cat.Id">@cat.Name</a></li>

    }
</ul>

